/*MENU E BANNER*/
#banner
{
	
    width:100%;
    margin-top: -120px;
    position: relative; 
    z-index: -1;

}
.menu
{
	width:100%;
	height: 110px;
	background-color: black;
	opacity: 0.6;
    margin-top: -80px;
    position: relative; 
    z-index: 0;
}
#menu2
{
    padding:0px;
    margin:0px;
}
#menu2 ul li 
{ 
    display: inline;
}
 
#menu2 ul li a 
{       
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px;
    margin-top: -20px;
    float:left;
    z-index: 2;
    position: relative;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;   
}
#menu2 ul li a:hover 
{       
    color: #FC7E06;
            
}
#menu2
{
    margin-top: -30px;
    padding-left: 870px;
}
#logo
{
    margin-top: 30px;
    padding-left: 40px;
    position: relative; 
    z-index:1;
}
.frase
{
    font-size: 52px;
    margin-top: -620px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-shadow: 1.5px 1px black;
}
/*Links aprenda a desenvolver*/
.link1
{
    border-style: solid;
    border-width: 2px;
    border-color: #FFFFFF;
    color: white;
    padding: 10px 28px;
    width: 220px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    position: relative;
    z-index: 3;
    margin-top: -30px;
}
.link1{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.link1:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.link1:hover, .link1:focus, .link1:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.link1:hover:before, .link1:focus:before, .link1:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}
.link2
{
    border-style: solid;
    border-width: 2px;
    border-color: #FFFFFF;
    color: white;
    padding: 10px 28px;
    width: 220px;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    position: relative;
    z-index: 3;
    margin-top: -30px;
}
 
.link2{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.link2:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.link2:hover, .link2:focus, .link2:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.link2:hover:before, .link2:focus:before, .link2:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}
/*Material trainne*/
#img
{
    margin-top: 430px;
    width: 100px;
    height: 200px;
    padding-left: 10px;  
}
#tema
{
    margin-left: 390px;
    margin-top: -240px;
    font-size: 35px;
    color: #F46E32;
    font-family: 'Montserrat', sans-serif;
}
#texto
{
    margin-left: 390px;
    margin-top: -30px;
    width:870px;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
}
#linha
{
    width: 100%;
    height: 1px;
    margin-top: 60px;
    background-color: #C0C0C0;
}
/*HTML5|CSS3|JAVASCRIPT*/
.tema2
{
    font-size: 35px;
    color: #F46E32;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.intro
{
    height: 290px;
    width: 240px;
    margin-left: 10px;
    box-shadow: 0px 2px #292929;
    border-color: #B5B3A5;
    border-style: solid;
    border-width: 3px;
    position: absolute;
    z-index: 1;
}
#fundo
{
    width: 240px;
    height: 200px;
    margin-left: 13px;
    background-color: #D75B43;
    position: absolute;
    z-index: 0;
}
#text
{
    color: #FFFFFF;
    margin-top: 160px;
    padding-left: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}
#text2
{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin-top: 30px;
    text-align: center;

}
#but
{
    margin-top: 250px;
    font-family: 'Montserrat', sans-serif;
    background-color: #FF5B00;
    color: #FFFFFF;
    width: 130px;
    height: 25px;
    border-radius: 10px 10px;
    padding-top: 10px;
    position: absolute;
    z-index: 4;
    text-decoration: none;
    border-color: #FF5B00;
    border:0px solid;
    text-align: center;
    font-size: 12px;
    margin-left: 65px;
}
#but {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#but:before {
  content: "";
  border-radius: 10px 10px;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #FF9B6D;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#but:hover, #but:focus, #but:active {
  color: white;
}
#but:hover:before, #but:focus:before, #but:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);

}
.qua1
{
    margin-left: 90px;
}
.qua2
{
    margin-left: 390px;
    margin-top: -285px;
}
.qua3
{
    margin-left: 690px;
    margin-top: -285px;
}
.qua4
{
    margin-left: 990px;
    margin-top: -285px;
}
#fundo2
{
    width: 240px;
    height: 200px;
    margin-left: 13px;
    background-color: #70CCF2;
    position: absolute;
    z-index: 0;
}
#fundo3
{
    width: 240px;
    height: 200px;
    margin-left: 13px;
    background-color: #F4C84D;
    position: absolute;
    z-index: 0;
}
#ver
{
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: #FFFFFF;
    width: 150px;
    height: 30px;
    border-radius: 10px 10px;
    padding-top: 10px;
    position: absolute;
    z-index: 4;
    text-decoration: none;
    border-color: black;
    border:0px solid;
    text-align: center;
    font-size: 15px;
    margin-left: 65px;
}
#ver {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#ver:before {
  content: "";
  border-radius: 10px 10px;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #454545;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#ver:hover, #ver:focus, #ver:active {
  color: white;
}
#ver:hover:before, #ver:focus:before, #ver:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);

}
#linha2
{
    width: 100%;
    height: 1px;
    margin-top: 10px;
    background-color: #C0C0C0;
}
/*ruby on railS*/
.tema2
{
    font-size: 35px;
    color: #AA2C3C;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
#fundo4
{
    width: 240px;
    height: 200px;
    margin-left: 13px;
    background-color: #B11200;
    position: absolute;
    z-index: 0;
}
#but2
{
    margin-top: 250px;
    font-family: 'Montserrat', sans-serif;
    background-color: #AA2C3C;
    color: #FFFFFF;
    width: 130px;
    height: 25px;
    border-radius: 10px 10px;
    padding-top: 10px;
    position: absolute;
    z-index: 4;
    text-decoration: none;
    border-color: #FF5B00;
    border:0px solid;
    text-align: center;
    font-size: 12px;
    margin-left: 65px;
}
#but2 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#but2:before {
  content: "";
  border-radius: 10px 10px;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #AA4053;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#but2:hover, #but2:focus, #but2:active {
  color: white;
}
#but2:hover:before, #but2:focus:before, #but2:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);

}

#fundo5
{
    width: 240px;
    height: 200px;
    margin-left: 13px;
    background-color: #AA2C3C;
    position: absolute;
    z-index: -1;
}
#fundo6
{
    width: 240px;
    height: 200px;
    margin-left: 13px;
    background-color: #8A2BFF;
    position: absolute;
    z-index: 0;
}
.tema3
{
    font-size: 35px;
    color: #F46E32;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
body{
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}

#alerta {
  width: 400px;
  background-color: #eddfdf;
  border: 1px solid #ccc;
  margin: 40px auto;
  cursor: move;
  position: absolute;
  z-index: 4;
  left: calc(50% - 200px);
}

#alerta .title{
  background-color: #329596;
  height: 30px;
  border-bottom: 1px solid #227374;
  text-transform: uppercase;
  padding: 10px 10px 0px 0px;
  text-align: center;
  color: #073c3d;
  text-shadow: 1px 1px 1px #6fabac;
}

#alerta .title i{
  float: right;
  padding-top: 3px;
  cursor: pointer;
}

#alerta .body{
  padding: 10px;
}

form button{
  display: block;
  padding: 4px 11px;
  border: 1px solid #ffcc00;
  background-color: #ffcc00 !important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffcc00), color-stop(100%,#ff6600)) !important;
  background: -webkit-linear-gradient(top, #ffcc00, #ff6600) !important;
  background: -moz-linear-gradient(top, #ffcc00, #ff6600) !important;
  background: -ms-linear-gradient(top, #ffcc00, #ff6600) !important;
  background: -o-linear-gradient(top, #ffcc00, #ff6600) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc00', endColorstr='#ff6600',GradientType=0 );
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 0 #666;
  cursor:pointer;
  position: relative;
  margin: 10px auto;
}

input[type=text]{   
    height: 34px;
    width: 315px;
    padding: 2px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#alerta .resultado{
  color: #227210;
  font-size: 12px;
}


#contador {
  color: #227210;
  text-align: center;
  position: absolute;
  z-index: 5;
  font-size: 30px;
 font-family: 'Montserrat', sans-serif;
  margin-left: 600px;

}






